<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="video">
    <!-- <iframe width="889" height="500" src="https://www.youtube.com/embed/hyEsiwc0ys4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="889" height="500" src="https://www.youtube-nocookie.com/embed/pq1CGm7t97A?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
<div id="title-video">
    Intro
</div>
<br>
<div id="desc-video">
    Welcome to ConfidentMindset!
</div>
<br>
<br>
<%= render '/contents/playlist' %>