<% if user_signed_in? %>
  <% if  current_user.subscribed? %>
  <br>
  <html ng-app="demo">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <style type="text/css">
      /*------------------------*/
      #item-bar-bot
      {
        background-color: white;
        width: 218px;
        height: 50px;
      }
      p
      {
          font-size: 20px;
      }
      .flowGrid{position: relative;padding: 0;}
      .flowGrid:before,.flowGrid:after{
          content: "";
          display: table;
      }
      .flowGrid:after{
          clear:both;
      }
      .flowGridItem{ list-style: none;}
      .flowGridItem img{width:100%;}
      .flowGridColumn{
          float: left;
          padding-left: 10px;
      }
      .flowGridColumn:last-of-type{
          /*padding-right: 10px;*/
      }
      /*---------- demo page only--------------*/
      header{
        background-color: #efefef;
        margin-bottom: 25px;
        height: 250px;
        text-align: center;
      }
      </style>
    </head>
    <body ng-controller="appCtrl">
      <section>
        <div class="container">
          <ul class="flowGrid" ng-flow-grid="demoGird" min-item-width="200" max-item-width="300">
            <li class="flowGridItem" ng-repeat="item in items | filter:searchText">
                    <a href="{{ item.link }}"><img ng-src="{{item.img}}"></a>
                    <div id="item-bar-bot">
                    <p>{{ item.name }}</p>
  
                </div>
            </li>
          </ul>
        </div>
      </section>
    </body>
  </html>
<% else %>

  <script type="text/javascript">
    window.location.href="/subscribers/new"  // put your correct path in a string here
  </script>

<% end %>
<% else %>
<body id="login">
<% if false %>
<div class="jumbotron">
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access a better mindset
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
      </div>
      <br>
      <div class="span6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
</div>
<% end %>
   <div class="slide story" id="slide-1" data-slide="1">
        <div class="container">
            <div id="home-row-1" class="row clearfix">
                <div class="col-12">
                    <h1 class="font-semibold">Improve your confidence<span class="font-thin"></span></h1>
                    <h4 class="font-thin">Weekly <span class="font-semibold"> premium </span> videos </h4>
                    <br>
                  <!--   <h4 class="font-thin">Company that specialize <span class="font-semibold"></span> in high quality services and high quality sites</h4> -->
                    <br>
                    <br>
                </div>
                <!-- /col-12 -->
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="videobutton">Show video</button>
<div class="video-container">
<iframe width="1920" height="1080" src="https://www.youtube.com/embed/Hx3wOMDSRiE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
            <!-- /row -->
            <div id="home-row-2" class="row clearfix">
                <div class="col-12 col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="4">
                    </div><span> </span>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="3">
                    </div><span> </span>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="home-hover navigation-slide" data-slide="5">
                    </div><span> </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!--
<button type="button" class="btn btn-primary btn-lg btn-block" id="videobutton">Show video</button>

<div class="video-container">
<iframe width="1920" height="1080" src="https://www.youtube.com/embed/Hx3wOMDSRiE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
-->
<div id="list">
  <br>
  <h2> Start Today </h2>
  <div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">5</span>
						<span class="cd-duration">/mo</span>
	</div>
<ul class="list-group">
  <li class="list-group-item">Improve your confidence</li>
  <li class="list-group-item">Redfine yourself</li>
  <li class="list-group-item">Improve relationships</li>
  <li class="list-group-item">Be more successful</li>
  <li class="list-group-item">Be the best you</li>
</ul>
<br>
<div class="frontpage">
<a href="/users/sign_up">
<button type="button" class="btn btn-primary btn-lg">Subscribe!</button>
</a>
</div>
</div>

</body>
<% end %>