<body id="support-page">
<div class="support">
<h1>Hello!</h1>
<h2> FAQ </h2>
<p>1. Where else can I contact you besides email?</p>
<p> You can direct message me on my instagram: <a href="https://www.instagram.com/aurigax/">aurigax</a></p>
<p>2. I cannot make payments on my smartphone? Why is that? </p>
<p> Still trying to fix that. Stripe for some reason is having issues with mobile payments at the moment. </p>
<br>
<br>
<br>
<br>
<br>
<p>Email: aurigasupport@gmail.com </p>
</div>
</body>